<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>
<img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_960,c_limit/GoogleMapTA.jpg" alt="">
<ion-card>
  <ion-card-content>
    <p>Address: Fake Street Name</p>
    <p>Complement: Fake Apto 2000</p>
    <p>Neighbourhood: Fake Neighbourhood</p>
    <p>Zip Code: 123456</p>
    <p>City - Galle</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>
<ion-button size="full" color="success" (click)="newPickupCall()">Create Pickup Call</ion-button>
<ion-content>

</ion-content>
